.subscribe-botton {
  color: white;
  cursor:pointer;
  border: none;
  border-radius: 2px;
  background-color: rgb(216, 29, 20);
  transition: opacity 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  vertical-align: top;
}

.subscribe-botton:hover {
  opacity: 0.75;
}

.subscribe-botton:active {
  opacity: 0.5;
}

.join-botton {
  color: rgb(6, 95, 212); 
  cursor:pointer;
  border-color: rgb(45, 100, 210);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: white;
  transition: background-color 0.15s, color 0.15s;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
}

.join-botton:hover {
  background-color:  rgb(6, 95, 212);
  color: white;
}

.join-botton:active {
  opacity: 0.5;
}

.tweet-botton {
  color: white;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  cursor:pointer;
  background-color: rgb(29, 155, 240);
  transition: box-shadow 0.15s;
  vertical-align: top;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
}

.tweet-botton:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}